{% extends 'base.html' %}

{% block content%}

<br><br><br>

<center><h1>Students</h1><center>






<table class="table table-striped">
    <thead>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Grade</th>
    <thead>
    {% for i in students %}
        <tr>
            <td>{{ i.lastname }}</td>
            <td>{{ i.firstname }}</td>
            <td>{{ i.middlename }}</td>
            <td>{{ i.grade }}</td>
        <tr>
    {% endfor %}
</table>













{% endblock %}